services:
  database:
    build: ./mongo
    container_name: mongo_database
    ports:
      - "27017:27017"

  redis:
    build:
      context: ./redis
    container_name: redis_client
    ports:
      - "6379:6379"

  users:
    build:
      context: ./backend/users
    ports:
      - "5000"

  posts:
    build:
      context: ./backend/posts
    ports:
      - "5000"
    depends_on:
      - "redis"

  comments:
    build:
      context: ./backend/comments
    ports:
      - "5000"

  messaging:
    build:
      context: ./backend/messaging
    ports:
      - "5000"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - users
      - posts
      - comments
      - messaging
    ports:
      - "80:80"
