services:
  database:
    build: ./mongo
    container_name: mongo_database
    ports:
      - "27017:27017"

  users:
    build:
      context: ./backend/users
    ports:
      - "5000"

  posts:
    build:
      context: ./backend/posts
    ports:
      - "5000"

  comments:
    build:
      context: ./backend/comments
    ports:
      - "5000"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - users
      - posts
      - comments
    ports:
      - "80:80"
